# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

configs/

# Dependency directories
node_modules/

# Environment variables
.env
venv
__pycache__

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# IDE specific
.vscode
.idea
.roo
.roomodes

.cursor
.taskmaster

.env.example